---

---

<footer>
    <p><i class="fa-solid fa-heart fa-xl zs-scarlet"></i></p>
    <p>
        Designed &amp; Crafted based on
        <a href="https://github.com/alertbox/zebra-snooze/">Zebra Snooze</a>.
        Icons by <a href="https://fontawesome.com">Font Awesome</a>.
    </p>
    <p>&copy; 2025. All rights reserved.</p>
</footer>
