---

---

<header>
    <h1>
        <a href="/"><span>@</span>KosPerera</a>
    </h1>
    <p class="lead">
        Architect — Technology <a href="https://www.virtusa.com"
            ><span>@</span>Virtusa</a
        > · Software Engineer · C# Serverless Tofu · Longtime Hubber
    </p>
    <div class="links">
        <a rel="me" href="https://github.com/kosperera">
            <i class="fa-brands fa-sm fa-github"></i>
        </a>
        <a rel="me" href="https://www.linkedin.com/in/kosperera">
            <i class="fa-brands fa-sm fa-linkedin-in"></i>
        </a>
        <a rel="me" href="https://www.youtube.com/@kosperera">
            <i class="fa-brands fa-sm fa-youtube"></i>
        </a>
        <a rel="me" href="https://hachyderm.io/@kosperera">
            <i class="fa-brands fa-sm fa-mastodon"></i>
        </a>
        <a rel="me" href="https://x.com/kosperera">
            <i class="fa-brands fa-sm fa-twitter"></i>
        </a>
    </div>
</header>
