---
const { key, slide, allow_fullscreen } = Astro.props;
---

<div class="speaker-deck aspect-ratio">
    <iframe
        frameborder="0"
        src=`//speakerdeck.com/player/{key}?slide={slide || 1}`
        allowfullscreen={allow_fullscreen}
        mozallowfullscreen={allow_fullscreen}
        webkitallowfullscreen={allow_fullscreen}
        width="100%"
        height="100%"
    >
    </iframe>
</div>

<style>
    article {
        margin-top: calc(var(--gutter) * 2.5);
        position: relative;
        margin-bottom: 4rem;
    }

    article > * {
        margin-bottom: 0.5rem;
    }

    article:first-of-type {
        margin-top: var(--gutter);
    }

    article h4 {
        color: var(--secondary-color);
        font-size: inherit;
        font-weight: 300;
    }

    article .aspect-ratio {
        /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
        padding-bottom: 56.25%;
        position: relative;
        width: 100%;
        height: 0;
    }

    article iframe {
        width: 100%;
    }

    .speaker-deck iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
</style>
