---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Masthead from "../components/Masthead.astro";

const { ...head } = Astro.props;
---

<html lang="en">
    <head>
        <Head {...head} />
    </head>

    <body>
        <div class="glow"></div>
        <div class="container">
            <Masthead />
        </div>
        <hr />
        <div class="container">
            <slot />
        </div>
        <hr />
        <div class="container">
            <Footer />
        </div>

        <script
            is:inline
            src="https://kit.fontawesome.com/4c3612d4b1.js"
            crossorigin="anonymous"
            defer></script>
    </body>
</html>
