---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Masthead from "../components/Masthead.astro";

const { ...head } = Astro.props;
---

<html lang="en">
    <head>
        <Head {...head} />
    </head>

    <body>
        <div class="container">
            <Masthead />
        </div>
        <hr class="full-width" />
        <div class="container page">
            <slot />
        </div>
        <hr class="full-width" />
        <div class="container">
            <Footer />
        </div>
    </body>
</html>
